@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}

.boox{
    position: absolute;
    width: 400px;
    height: 628px;
    background: #1c1c1c;
    border-radius: 8px;
    overflow: hidden;
}

.boox::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 420px;
    height: 680px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
}

.boox::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 420px;
    height: 680px;
    background: linear-gradient(0deg, transparent, transparent, #45f3ff, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: 3s;
}

.borderLine{
    position: absolute;
    top: 0;
    inset: 0;
}

.borderLine::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 420px;
    height: 680px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.borderLine::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 420px;
    height: 680px;
    background: linear-gradient(0deg, transparent, transparent, #ff2770, #ff2770, #ff2770);
    transform-origin: bottom right;
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.boox form{
    position: absolute;
    inset: 4px;
    background: #222;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 3;
    display: flex;
    flex-direction: column;
}

.boox form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
    margin-bottom: -10px;
    margin-top: -30px;
}

.boox form .inputBox{
    position: relative;
    width: 300px;
    margin-top: 25px;
}

.boox form .gen{
    position: relative;
    width: 300px;
    margin-top: 20px;
}

.boox form .gen #gender{
    width: 300px;
    height: 35px;
    font-weight: 300;
    font-size: large;
    background-color: #222;
    color: #8f8f8f;
}

.boox form .inputBox .DOB{
    z-index: 3;
}

.boox form .inputBox #dob{
    z-index: 2;
}

.boox form .inputBox input{
    position: relative;
    width: 100%;
    padding: 20px 0px 10px;
    background: transparent;
    outline: none;
    border: none;
    box-shadow: none;
    color: #23242a;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}

.boox form .inputBox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #8f8f8f;
    font-size: 1em;
    letter-spacing: 0.05em;
    transition: 0.5s;
}

.boox form .inputBox input:valid ~ span,
.boox form .inputBox input:focus ~ span{
    color: #fff;
    font-size: 0.75em;
    transform: translateY(-34px);
}

.boox form .inputBox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.boox form .inputBox input:valid ~ i,
.boox form .inputBox input:focus ~ i{
    height: 44px;
}

.boox form .links{
    display: flex;
    justify-content: space-between;

}

.boox form .links p{
    margin: 5px 0;
    font-size: 1em;
    text-decoration: none;
}

.boox form .links p{
    margin: 5px 0;
    font-size: 1em;
    color: #45f3ff;
    text-decoration: none;
}

.boox form .links a:hover,
.boox form .links a:nth-child(2){
    color: #45f3ff;
}

.boox form input[type="submit"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    background: #45f3ff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 4px;
    font-weight: 600;
    width: 100px;
    margin-top: 10px;
}

.box form input[type="submit"]:active{
    opacity: 0.8;
}

.boox form .links a:hover{
    color: #fff;
}

.boox form input:hover{
    color: #fff;
}
